[FORMAT]
max-line-length=300
max-args=6

[BASIC]
# only require really big functions to have docstrings. and we should never have this long functions.
docstring-min-length=100
# allow single letter variable names
variable-rgx=[a-z0-9_]{1,30}$
attr-rgx=[a-z0-9_]{1,30}$
ignored-argument-names=_.*|^ignored_|^unused_|^kwargs|^environment

[MESSAGES CONTROL]
disable=logging-not-lazy,logging-fstring-interpolation,missing-docstring,wrong-import-position,wrong-import-order,too-few-public-methods,invalid-name,protected-access,logging-format-interpolation,dangerous-default-value,global-statement,too-many-locals,too-many-arguments,too-many-instance-attributes,blacklisted-name,attribute-defined-outside-init,broad-except,bare-except,consider-using-with,too-many-branches,unspecified-encoding,arguments-differ,broad-exception-raised

[MASTER]
ignore=locustio,examples
extension-pkg-whitelist=lxml

[SIMILARITIES]
# Minimum lines number of a similarity - set high to avoid issues with examples/transaction*
min-similarity-lines=25