language: python
cache: pip
matrix:
  include:
    - python: 3.8
      env: TOXENV=py38
    - python: 3.7
      env: TOXENV=py37
    - python: 3.6
      env: TOXENV=py36
addons:
  apt:
    packages:
      - libev-dev
install:
  - pip install tox
script:
  - tox
deploy:
  provider: pypi
  user: $TWINE_USERNAME
  password: $TWINE_PASSWORD
  skip_existing: true
  distributions: sdist
  on:
    tags: true
